
.header__container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px   solid #AAAAAA;
    height: 146px;
}

@media (max-width:1440px){
    .header__container{
        height: 166px;
    }
}
@media (max-width:1024px) {
    .header__container{
        height: 226px;
    }
    .hid{
        display: none;
    }
}

.header__title{
    line-height:0px;
    color: #074EE8;
    font-size: 40px;
    font-weight: 700;
}
.header__label{
    color: #111111;
    font-size: 18px;
    font-weight: 400;
}

.header__label__conteiner{
    padding-left: 100px;
    
    padding-top: 10px;
    height: 100%; 
    
}
@media (max-width:1440px) {
    .header__label__conteiner{
        padding-left: 10px;
        
    }
}
@media (max-width:768px) {
    .header__label__conteiner{
        min-width: 200px;
    }
    .header__title{
        font-size: 26px;
    }

}
.cnt_t{
    display: flex;
    flex-direction:column;
    
}
.bugar{
    display: none;
    height: 40px;
    width: 40px;
    background: url('../img/hamburger.png') no-repeat center;
    background-size: contain;
    margin:auto 0;
    cursor: pointer;  
    border-radius: 10px;
    transition: 0.3s all linear;
}
.bugar:hover{
    background-color: white;
}
.shy{
    background: url('../img/x.png') no-repeat center;
    background-size: contain;
}

.bugar img{
    height: 100%;
    width: 100%;
}
@media (max-width:1440px) {
    .bugar{
        display: flex;
    }
}
@media (max-width:1024px) {
    .bugar{
        margin-top: 20px;
        height: 70px;
        width: 70px;
    }
}
.header__form__button{
    height: 32px;
    width: 176px;
    background-color: white;
    color: #074EE8;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}
.header__form__button:hover{
    color:white;
    background-color: #074EE8;
    box-shadow: 0px 0px 38px 0px #074EE8;
    transition:all .3s;
    transform: scale(1.05);
}
.header__form__button:active{
    transform: scale(.95);
}
.header__form{
    width: 550px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width:1024px) {
    .header__form{
        flex-direction: column;
        justify-content: start;
        width:176px;
    }
}
@media (max-width:375px){
    .header__form{
        padding: 0px;
        width:100px;
    }
  
    .header__form input{
        width:100px;
    }
}
.form_cont{
    margin-top: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: #767676;
    font-size: 14px;
    
}

.header__form .header__form__button,.header__form__password,.header__form__username{
    height: 32px;
    margin-top: 5px;
    max-width: 176px;
    border: 2px solid #074EE8;
    box-sizing: border-box;
    border-radius: 4px;
}
.autorization_fail{
    border: 2px solid #df2f2f;
}




.hid{
    opacity: 0;
}
.noize{
    /* justify-self:end; */
    margin: auto;
    /* height: 40px; */
    /* width: 40px; */
    /* background-color: #074EE8; */
    cursor: pointer;
}
.PlayBtn{
    background-color: aliceblue;
}
.PauseBtn{
    background-color: aliceblue;
}