.info__container{
    text-align: center;
    min-height: 600px;
    max-width: 700px;
}
.info__name{
    color:#074EE8;
    font-size: 64px; 
}
@media (max-width:1024px) {
    .info__name{
        font-size: 48px; 
    }
}
@media (max-width:768px) {
    .info__name{
        font-size: 32px; 
    }
}
.info__container__text{
    
    line-height: 40px;
    text-align: left;
    padding: 40px;
    border: 1px   solid #AAAAAA;
    background: #EEEEEE;
    color:#000000;
    font-size: 24px;
}
@media (min-width:1600px) {
    .info__container__text{
        font-size: 36px;
        line-height: 60px;
    }
    .info__name{
        line-height: 80px;
        font-size: 84px; 
    }
    .info__container{
        max-width: 900px;
    }

}