.info__container{
    text-align: center;
    min-height: 600px;
    max-width: 700px;
}
.info__name{
    color:#074EE8;
    font-size: 64px; 
}
.info__container__text{
    
    line-height: 40px;
    text-align: left;
    padding: 40px;
    border: 1px   solid #AAAAAA;
    background: #EEEEEE;
    color:#000000;
    font-size: 24px;
}
