body{
    font-family: 'Inter', sans-serif;
    background-color: #E0EAFF
    
}
a{
    text-decoration: none;
}
.wrapper{
    max-height: 100%;
    overflow: hidden;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:1440px) {
    .content{
        justify-content: space-around;
        /* flex-wrap: wrap-reverse; */
    }
}