
.recipe__list{
    list-style: none;
    padding: 0;
    margin-right: 60px;
    margin-top: 100px;
}
@media (max-width:1440px){
    .recipe__list{
        margin-right: 0px;
    }
}
.recipe__img {
    background-color: #eeeeee;
    border: 1px   solid #AAAAAA;
    width: 340px;
    height: 340px;
    box-sizing: border-box;
    border-radius: 4px;
}
.recipe__img img{
    height: 100%;
    width: 100%;
}
.recipe__item{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    width: 340px;
    height: 56px;
    background-color: #eeeeee;
    border: 1px   solid #AAAAAA;
}