.sidebar__container{
    border-right: 2px   solid #AAAAAA;
    border-bottom: 2px   solid #AAAAAA;
    background-color: white;
    float: left;
    height: 100%;
    /* min-width: 30%; */
    width: 250px;
    max-width: 250px;
}
.sidebar__menu{
    margin: 0; /* Отступ слева в браузере IE и Opera */
    padding: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.sidebar__label{
    height: 46px;
    font-size: 16px;
    color:#074EE8;
    background-color:#E0EAFF;
}
.cnt{
    align-items: center;
}
.sidebar__item{
    padding-top:10px;
    min-height: 36px;
    font-size: 16px;
    /* text-indent: 48px; */
    padding-left: 48px;
    text-align: left;
    list-style-type: none;
}
.sidebar__item:hover{
    color:#074EE8;
    background-color:#eeeeee;
}