.sidebar__container{
    
    border-right: 2px   solid #AAAAAA;
    border-bottom: 2px   solid #AAAAAA;
    background-color: white;
    height: 100%;
    width: 250px;
    max-width: 250px;
}
@media (max-width:1440px) {
    .sidebar__container{
        display: none;
    }
}
.sidebar__menu{
     margin: 0; 
     padding: 0;  
}
.sidebar__label{
    height: 46px;
    font-size: 16px;
    color:#074EE8;
    background-color:#E0EAFF;
}

.sidebar__item{
    padding-top:10px;
    height: 36px;
    font-size: 16px;
    text-indent: 48px;
    text-align: left;
    list-style-type: none;
}
.sidebar__item:hover{
    color:#074EE8;
    background-color:#eeeeee;
    cursor: pointer;
}
.cnt{
    display: flex;
    height: 80%;
    margin-left: 40px;
    font-size: 32px;
}
.cnt img{
    height: 32px;
}
.sidebar__bugar{
    /* min-height:2500px ; */
    min-width: 100%;
    visibility:hidden;
    position: absolute;
    
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    font-size: 50px;
}
.bugar__item{
    color:#fff;
    font-size: 30px;
    height: 40px;
    margin: auto;
}
@media (max-width:1440px) {
    .sidebar__bugar{
        display: inline;
    }
}
@media (min-width:1440px) {
    .sidebar__bugar{
        display: none;
    }
}